<div class="row">
  <div class="col-sm-12">
    <app-messages [value]="msgs"></app-messages>
    <app-loading  [render]="loading" [texto]="'Consultando asignaturas, cursos y a los dioses griegos registrados'"></app-loading>
  </div>
</div>

<div class="row" [hidden]="loading == false && msgs.length == 0 ? false : true">
  <div class="col-sm-12">

    <div class="action-buttons" *ngIf="lstAsignaturas.length > 0">
      <button mat-button (click)="openAll()">Expandir Todo</button>
      <button mat-button (click)="closeAll()">Contraer Todo</button>
    </div>

    <mat-accordion #miAccordion multi class="example-headers-align">
      <mat-expansion-panel *ngFor="let asignatura of lstAsignaturas">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{asignatura.nombre}}
          </mat-panel-title>
          <mat-panel-description>
            {{asignatura.grado}}-{{asignatura.salon}}
            <mat-icon>visibility</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
        <div class="centrarTabla">

          <table mat-table [dataSource]="asignatura.lstEstudiantes" class="mat-elevation-z8" style="width: 50%;">

            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element">
                <span class="material-icons">
                account_circle
                </span> </td>
            </ng-container>

            <ng-container matColumnDef="estudianteNombre">
              <th mat-header-cell *matHeaderCellDef> Estudiante </th>
              <td mat-cell *matCellDef="let element"> {{element.estudianteNombre}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

