.mat-mdc-form-field {
  width: 100% !important;
}

.mat-mdc-card-header {
  display: initial !important;
}

.cadPrincipal .mat-mdc-card-title {
  background: #673ab7  !important;
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding: 10px 16px 10px 16px !important;
  color: white !important;
  font-size: 20px;
}

.cadPrincipal .mat-mdc-card-subtitle {
  margin-top: -8px !important;
  background: #e9ecef !important;
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding: 5px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mat-mdc-expansion-panel-content {
  background: #d4d4d4e0 !important;
}
